.AboutMe {
    align-items: center;
    background-color: rgb(18, 18, 19);

}
.aboutMeInfo {
    display: flex;

}

.aboutMeContainer {
    flex: 1;
    padding: 6%;
    align-self: center;
}

.bigText {
    font-size: 2rem;
    color: white;
    margin: 0 0 2% 0;
    white-space: pre-line;

}

.normalText {
    font-size: 1.2rem; 
    font-weight: 100;
    color: rgb(149, 152, 155);
    white-space: pre-line;
    margin-bottom: 10%;
}

.iconContainer {
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.divIcon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 50px;
}

.icon {
    height: 80px;
    width: 80px;
    padding: 15%;
    background-color: rgb(205, 156, 59);
    border-radius: 30px;
    margin-bottom: 10%;
}
.iconText {
    font-size: 15px;
    font-weight: 500;
    color: rgb(149, 152, 155);
}

.me {
    height: 100%;
    width: 100%;
}
.skillsDiv {
    padding-top: 10%;
}