.Home {
    display: flex;
    align-items: center;
}

.textContainer {
    flex: 1;
    margin-left: 2%;

    .bigText {
        font-size: 3rem;
        color: white;
        margin: 0 0 0 0;
    }
    
    .normalText {
        font-size: 1.2rem; 
        font-weight: 100;
        color: rgb(149, 152, 155);
    }
}

.imageContainer {
    flex: 1;
}

.img {
    width: 100%;
    height: 89vh;
}
