.Projects {
    padding-bottom: 10%;
    padding-top: 10%;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
}
.divIcon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-right: 1px solid rgb(22, 22, 22);
    padding: 4%;
    border-radius: 30px;

}


.icon {
    height: 90px;
    width: 90px;
    padding: 15%;
    background-color: rgb(205, 156, 59);
    border-radius: 30px;
    margin-bottom: 10%;
}
.iconText {
    font-size: 20px;
    font-weight: 500;
    color: rgb(149, 152, 155);
}

.bigText {
    font-size: 2rem;
    color: aliceblue;
    margin: 0% 0 1% 0;
    white-space: pre-line;

}
.normalText {
    font-size: 1.2rem; 
    font-weight: 100;
    color: rgb(149, 152, 155);
    white-space: pre-line;
    margin-bottom: 5%;
}
