.Skills {
    align-items: center;
    background-color:  rgb(0, 0, 0);
    padding-top: 5%;
}

.bigText {
    font-size: 2rem;
    color: aliceblue;
    margin: 0 0 1% 0;
    white-space: pre-line;

}
.normalText {
    font-size: 1.2rem; 
    font-weight: 100;
    color: rgb(149, 152, 155);
    white-space: pre-line;
    margin-bottom: 5%;
}
